/* === PAGE BACKGROUND AND TEXT STYLE === */
body {
    font-family: 'Trebuchet MS', Arial, sans-serif; /* 💡 Change the font family for the entire page */
    background-color: #bfbfbf; /* 🎨 You can change the entire page background color here */
    overflow-y: hidden;
}

/* === PARAGRAPH STYLE === */
p {
    color: #1a1a1a; /* 🎨 Bio and fun fact text color */
    text-align: center; /* 💡 Like "text center" in Google Docs/Word */
}

/* === LINK STYLES === */
a {
    text-decoration: none;
    color: #404040; /* 💡 All links will appear blue by default */
}

a:-webkit-any-link {
    text-decoration: none;
    color: #404040; /* IMPORTANT: make this the same as above! ^^^ */
}

h1 {
    font-family: 'Courier New', Arial, Helvetica, monospace;
}

h2 {
    font-family: 'Courier New', Arial, Helvetica, monospace;
    color:white;
}

h3 {
    font-family: 'Courier New', Arial, Helvetica, monospace;
}

ul {
    text-align: left;
    margin-left: -30px;
}

/* === HEADER CONTAINER BOX (THE CARD) === */
#head_container {
    max-width: 650px; /* 💡 Change this to make the card bigger/smaller */
    max-height: 400px;
    background-color: rgba(0, 0, 0, 0); /* 🎨 Card background color */
    border-radius: 10px; /* 💡 Rounded corners */
    margin: 20px auto;
    padding: 0px;
    text-align: center;
}

/* === "Welcome Traveller" HEADING === */
#name-intro {
    font-family: 'Brush Script MT', cursive, monospace; /* 💡 Change the font family for the intro text */
    color: #fcbb66; /* 🎨 Intro text color */
    font-size: 70px;
    margin:auto;
}

/* === PROFILE PICTURE STYLE === */
#profile-pic {
    width: 35%; /* 💡 Resize profile picture here */
    border-radius: 10px; /* 💡 Rounds the corners of the profile picture */
    margin-bottom: 15px;
    float: left;
    margin-right: 15px;
}

/* TYPEWRITER STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid #fcbb66; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; 
  animation: 
    typing 2s steps(17, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    20% { border-color: #fcbb66 }
}

/* === YOUR NAME (BIG TEXT) === */
#name {
    font-family: 'Brush Script MT', cursive, monospace;
    font-size: 80px; /* 💡 Change this to make your name bigger/smaller */
    color: white; /* 🎨 Name text color */
    margin-bottom: 5px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

/* === EMAIL SECTION === */
#email {
    color: white;
    margin-bottom: 5px;
}

#email-link { /* The link to your email */
    color: #6500b8; /* 🎨 Change the color of the email link */
    text-decoration: underline; 
}

#email-link:hover { /* Change the color of the link when you put your mouse over it */
    color: white; /* 🎨 Change the hover color of the email link */
}

/* === LINKEDIN SECTION === */
#linkedin {
    color: white;
}

#linkedin-link { /* The link to your linkedin */
    color: #6500b8; /* 🎨 Change the color of the linkedin link */
    text-decoration: underline; 
}

#linkedin-link:hover { /* Change the color of the link when you put your mouse over it */
    color: white; /* 🎨 Change the hover color of the linkedin link */
}


/* === BACKGROUND IMAGE STYLE === */
#background-img {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/038/698/806/original/andrew-parker-x-670c98e6fbfdeffeba2b5778618bf747-f8743466-1280.gif?1623812827");
}







/* --- Pages --- */

.pages {
    display: grid;
    margin: auto;
    position: absolute;

    overflow-y: hidden;

    background-image: url("computer.png");
    background-size: cover;
    background-position: center;

    top:0;
    bottom:0;
    left: 0;
    right: 0;
    width: 10vw;
    height: 14vh;

    transform: scale(1.5);

    transition:
        transform 1s ease, 
        width 1s ease, 
        height 1s ease;
}


.page {
    grid-column: 1;
    grid-row: 1;

    color:white;

    display: block;

    width: 53%;
    height: 55%;   
    margin:auto;
    margin-top: 10.5%; 

    scroll-margin-top: 100px;

    text-align: center;
    font-size: 3px;

    overflow: scroll;
    scrollbar-width: thin;
}

.zoomed-in {
    transform: scale(9);
}

.buttons {
    margin-top:20.5%;
    margin-left: 24%;
 }

 .button-main {
    margin-left: 0px;
    margin-right: 5%;

    z-index:1;
    position:relative;

    font-size: 25px;
    color: black;
    float: left;
    width: 10vw;
    height: 10vh;

    background-color: rgb(190, 156, 131);
    
    border-width: 10px;
    border-radius: 15px;
 }

 .button-sub {
    font-size: 3px;
 }




































/* === Don't Touch! (your website will totally explode) === */
html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-pic {
    aspect-ratio: 1 / 1; /* Makes the image a square */
    object-fit: cover;
    display: block;
}

#background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Makes sure background stays behind everything else */
    background-size: cover; /* Makes sure image covers the whole background */
    background-position: center;
    background-color: #acacac; /* Fallback color */
}